bin/
obj/
/.vs
/GOL
/ProjetoPOO.Rep
/Rep
/REPOSITORY
/Teste
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
/ProjetoPOO/ProjetoPOO.csproj.user
