bin/
obj/

/.vs
/.vs/ProjectEvaluation
/.vs/ProjetoPOO
/.vs/ProjetoPOO/copilot-chat/bfbab278/sessions
/.vs/ProjetoPOO/copilot-chat/bfbab278/sessions/278c59cf-4548-4b6d-b9b8-488c1aeb033e
/.vs/ProjetoPOO/copilot-chat/bfbab278/sessions/592d1b24-da3f-4f4a-9476-e9491ce2f660
/.vs/ProjetoPOO/copilot-chat/bfbab278/sessions/bb563e4e-f618-49ba-83bf-0005b19886c0
/.vs/ProjetoPOO/copilot-chat/bfbab278/sessions/d0ad5773-2d47-42ed-9f45-1265414c792b
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
/.vs/ProjetoPOO/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
/.vs/ProjetoPOO/DesignTimeBuild
/.vs/ProjetoPOO/DesignTimeBuild/.dtbcache.v2
/.vs/ProjetoPOO/FileContentIndex
/.vs/ProjetoPOO/FileContentIndex/0e4447c0-1247-455a-ab5c-2e0cb084b6a1.vsidx
/.vs/ProjetoPOO/FileContentIndex/121d3156-79ac-4c58-a123-7fd1f7914bcd.vsidx
/.vs/ProjetoPOO/FileContentIndex/38c3eefc-d371-4c93-911e-07d85f35b769.vsidx
/.vs/ProjetoPOO/FileContentIndex/3a3308fc-c283-4ef5-a367-a2cc79e2679f.vsidx
/.vs/ProjetoPOO/FileContentIndex/4eb8d4d2-35b4-4006-8867-93c88c767adb.vsidx
/.vs/ProjetoPOO/v17
/.vs/VSWorkspaceState.json
/ProjetoPOO
/ProjetoPOO/ProjetoPOO.csproj.user
